@CHARSET "UTF-8";
body{
		margin: 0;
		padding: 0;
		background: #000;
	}
#header{
	width: 100%;
}
#logo{
	width: 20%;
}
#head{
	width: 100%;
}
#head h1{
	font-size: 50px;
	color: #fff;
	text-align: center;
}
.container{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	color: #fff;
}
.container p{
	font-size:30px;
}

#click{
	width: 180px;
	height: 40px;
	color:#000;
	font-size: 23px;
	font-family:Arial;
	margin-bottom:20px;
	border:2px solid black;
	border-radius:5px;
	background:#fff;
	transition:ease 0.4s;
    position:relative;
}
#click:hover{
	border:2px solid gray;
    background-color:#C6E2FF;
}

#map{
	border:2px solid white;
	border-radius:5px;
	width:100%;
	height:500px;
	color:#000;
}
